[submodule "code/RoutingKit"]
	path = code/RoutingKit
	url = https://github.com/RoutingKit/RoutingKit.git
[submodule "code/bmw_routing_engine"]
	path = code/bmw_routing_engine
	url = i11git:/Projects/bmw_routing_engine.git
